* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
}

img,
video {
  display: block;
}
@import "bootstrap/scss/bootstrap-grid";

body {
  background: #f7f7f7;
}

.header {
  height: 102px;
  background: #fff;
  text-align: center;
  font-family: "DM Serif Display";
  font-size: 60px;
}

.articles {
  background: #fff;
  padding-bottom: 30px;
  margin-top: 20px;
}

.articles h1 {
  text-align: center;
  font-family: "DM Serif Display";
  font-size: 22px;
  line-height: 26px;
  font-weight: 400;
  margin: 25px 10px 50px 10px;
}

.articles img {
  width: 100%;
}

.articles p {
  text-align: center;
  font-family: Heebo;
  font-size: 10px;
  font-weight: 500;
  line-height: 20px;
}

.articles b {
  font-weight: 500;
  color: #b3b3b3;
}

.articles h2 {
  text-align: center;
  font-family: Heebo;
  font-size: 18px;
  font-weight: 700;
  line-height: 23px;
  margin: 25px 10px 50px 10px;
}

.reviewsheader {
  background: #eee;
  margin-top: 20px;
}

.reviewsheader h1 {
  font-family: Heebo;
  font-size: 12px;
  font-weight: 500;
  line-height: 50px;
  margin-left: 20px;
}

.reviews {
  background: #fff;
  padding: 25px 20px 30px 20px;
  margin-bottom: 20px;
}

.reviews h1 {
  font-family: Heebo;
  font-size: 18px;
  font-weight: 700;
  line-height: 23px;
}
.r-principal h1 {
  font-family: "DM Serif Display";
  font-size: 22px;
  line-height: 26px;
  font-weight: 400;
}
.reviews h2 {
  font-family: Heebo;
  font-size: 18px;
  font-weight: 400;
  line-height: 23px;
}
.r-principal h2 {
  font-family: "DM Serif Display";
  font-size: 22px;
  font-style: italic;
  font-weight: 400;
  line-height: 26px;
}
.reviews h3 {
  font-family: Heebo;
  font-size: 10px;
  font-weight: 500;
  line-height: 20px;
  margin-top: 20px;
}

.reviews p {
  font-family: Heebo;
  font-size: 14px;
  font-weight: 300;
  margin-top: 20px;
}
